*{
    margin: 0;
    padding: 0;
    font-family:corbel;
}
.carousel-item {
    width: 100%;
    height: 99vh;

}
.nav-item
{
    font-weight: bold;
}
.carousel-caption  {
    position: absolute;
    margin-left:-16%;
    margin-right:-16%;
    margin-top: -13%;
}
.carousel-caption p { 
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
 }
.container {
    text-align: justify;
}

.m1{
    background-color: white;
}
.image-fluid{
    height: 250px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.div{
    background-color:white;
    padding: 12px;

}
.sub_heading{
    background-color:#165374;
    padding: 10px 0;
    border-radius: 10px;
}
.sub_heading h1{
    font-size: 50px;
    text-align: center;
    color:white;
}

.bot_section{
    background-color: white;
    border-radius: 10px;
}
.image{
    width: 124%;
    margin-left: -15px;
    border-radius: 7px;
    border:3px solid zcszz  #165374;
}
.bot_section:hover{
    background-color: #165374;
    border-radius: 10px;
    color:white;
}
footer{
    background-color: #165374;
    color: white;
}
.link{
    text-decoration: none;
    color:white;
}